---
---

@import url(https://fonts.googleapis.com/css?family=Montserrat);

$twitter: #6dabda;
$facebook: #365899;
$github: #f6c2a4;
$discord: #7289da;

$darker: #21211e;
$dark: #2d2d29;
$medium: #3b3b35;
$light-medium: #969696;
$dark-blue: #215a6d;
$light-blue: #4ea2a2;
$green: #10b923;
$light: #dfece6;
$white: #ffffff;
$dark-purple: #300030;
$medium-purple: #480048;
$regular-purple: #601848;
$red: #c04848;
$orange: #f07241;
$lime: #00ff00;

html {
  overflow-x: hidden;
}

.writeup-fixed-cols {
  table {
    td:nth-of-type(1) {
      width: 80%;
    }
    td:nth-of-type(2) {
      width: 20%;
    }
  }
}
body {
  font-family: "Montserrat";
  background-color: $dark;
  color: $white;
  height: 100%;
  width: 100%;
}

p {
  font-size: 18px;
}

li {
  font-size: 18px;
}

hr {
  border-color: $light-medium;
}

table {
  width: 100%;
}

strong {
  font-weight: bold;
}

a,
a:active {
  color: $lime;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  color: $green;
  text-decoration: none;
}

.panel {
  background-color: $medium;
  padding-top: 10px;
  padding-bottom: 35px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);
  border-left: 8px solid $green;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  .embedded-image {
    text-align: center;
  }
}

.card {
  background-color: $medium;
  border: 0px;
  min-width: 40%;
  min-height: 30%;
  .member-image {
    text-align: center;
    img {
      border: 2px solid $green;
    }
  }

  a {
    color: $white;
  }
}

.header {
  text-align: center;
}

.links {
  text-align: center;

  .fab {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    color: $white;
    margin-left: 15px;
    margin-right: 15px;
  }

  .fa-discord:hover {
    color: $discord;
  }

  .fa-twitter:hover {
    color: $twitter;
  }

  .fa-facebook:hover {
    color: $facebook;
  }

  .fa-github-alt:hover {
    color: $github;
  }
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0.4);
}
