<div class="row">
  <div class="col panel mt-5">

    <h2 class="my-5 header"> Join Us </h2>

    <hr/>
    <br>

    {% include social_links.html %}

    <br>

    <p>
      We live online in Discord. Join us there to get started!
    </p>

    <br>

    <p>
      During normal times, we also have meetings in Siebel or ECEB.
      The location and time changes every now and then. 
      For up-to-date information, ask us on Discord or refer to the information below.
    </p>

    <br>

    <p>
      Meeting Time: {{ site.meeting_time }}
    </p>
    <p>
      Meeting Location: {{ site.meeting_location }}
    </p>
  </div>
</div>

