<p class="links">
  {% if site.discord_link %}<a href="{{ site.discord_link }}" target="_new"><i class="fab fa-3x fa-discord"></i></a>{% endif %}
  {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fab fa-3x fa-github-alt"></i></a>{% endif %}
  {% if site.facebook_link %}<a href="{{ site.facebook_link }}" target="_new"><i class="fab fa-3x fa-facebook"></i></a>{% endif %}
  {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}" target="_new"><i class="fab fa-3x fa-twitter"></i></a>{% endif %}
</p>
