<div class="row">
  <div class="col panel mt-5">

    <div class="embedded-image">
      <img src="{{ site.baseurl }}/images/logo.png" class="rounded" height="350" width="300"/>
    </div>


    <br>
    <hr/>

    <p>
      We're a student-run interest group at the University of Illinois at Urbana-Champaign focused on information security.
      All are welcome! We have a strong focus on kind and collaborative learning.
    </p>


    <p>
    We host weekly public meetings on low-barrier-of-entry security topics that are focused on collaborative learning and friendly environments. 
    In addition, we coordinate weekly focus groups for more in-depth exploration in topics like embedded hacking, penetration testing, and fuzzing research.
    </p>

    <p>
    SIGPwny is mentored by <a href="http://klevchen.ece.illinois.edu/">Kirill Levchenko</a> and <a href="http://joshm.web.engr.illinois.edu/">Joshua Mason</a>. 
    We work extensively with Michael Bailey's <a href="https://nsrg.sprai.org/">Network Security Research Group</a>.
    </p>

  </div>
</div>
