<div class="row">
  <div class="col panel mt-5">

  <hr>
    <div class="embedded-image">
      <img src="{{ site.baseurl }}/images/logo.png" class="rounded" height="350" width="300"/>
    </div>


    <br>
    <hr/>

    <p>
      We're a student-run interest group and CTF team at the University of Illinois at Urbana-Champaign focused on information security.
      All are welcome! We have a strong focus on kind and collaborative learning, because we believe that it's the most fun to be excellent to each other.
    </p>


    <p>
    We host weekly public meetings on low-barrier-of-entry security topics that are focused on collaborative learning and friendly environments. 
    In addition, we run weekly seminars weekly for more in-depth exploration in topics like embedded device security, penetration testing, and fuzzing research.
	We're proudest of our <a href="/presentation">library of recorded meetings</a>.
    </p>

    <p>
    Every year, we run UIUCTF, a <a href="https://en.wikipedia.org/wiki/Capture_the_flag_(cybersecurity)">capture the flag</a> competition with ~2000 attendees and ~$5,000-10,000 in prizes. We hope you'll join us for <a href="https://uiuc.tf">the next one</a>!
    </p>

    <p>
    While we regularly place in CTF competitions, we're a multidisciplinary club with students from many different majors. This gives us a competitive edge that can't be beat! 
    </p>

    <p>
    SIGPwny is mentored by <a href="http://klevchen.ece.illinois.edu/">Kirill Levchenko</a>. 
    We used to work extensively with Michael Bailey's Network Security Research Group, but then Professor Bailey left to <a href="https://research.gatech.edu/newly-named-founding-chair-recognizes-cybersecurity-revolves-around-problems-not-academic">found Georgia Tech's School of Cybersecurity and Privacy</a>. We miss him every day!
    </p>

  </div>
</div>
