---
layout: default
---

<div class="container mb-5">
  <div class="row">
    <div class="col panel mt-5">
      <div class="row">
        <div class="col align-right">
          <img src="{{ site.baseurl }}/images/logo.png" class="rounded my-1" height="115" width="100" />
        </div>
        <div class="col">
          <h2 class="my-5 header">{{ page.title }}</h2>
        </div>
        <div class="col"></div>
      </div>
      {% if page.notes %}
      <ul>
        {% for bullet in page.notes%}
        <li>{{ bullet }}</li>
        {% endfor %} {% if page.location %}
        <br /><i class="fas fa-fw fa-map-marker-alt"></i>
        <p class="d-inline">{{ page.location }}</p>
        {% endif %} {% if page.time %}
        <br /><i class="fas fa-fw fa-clock"></i>
        <p class="d-inline">{{ page.time }}</p>
        {% endif %}
      </ul>
      {% endif %}
      <hr />
      <br />
      {{ content }}
    </div>
  </div>
</div>
